@import '_variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&family=Open+Sans&display=swap');

@import 'startPage.scss';
@import '_header.scss';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inknut Antiqua", serif;
    font-weight: 400;
    font-style: normal;
}

.container {
    display: grid;
    height: 100vh;
    grid-template-rows: 0.8fr 5fr 0.8fr;
}
